.background{
}
.tabela{
  color: white;
  background-color: transparent;
}
.THead{
  border-bottom: 2px solid rgba(255, 255, 255, 0.40);

}
.Header{

  background-color: rgba(0.4, 0.4, 0.4, 0.5);
}
.headerBg{
  background-color: rgba(0.4, 0.4, 0.4, 0.5);
}
.headerBg>a{
  color: white;
}


.Header>a{
  color: rgb(236, 236, 51);
  background-color: rgba(0.4, 0.4, 0.4, 0.55);
}

.center{
 display: flex;
  justify-content: center;
  align-items: center;
  height: 435px;
}
.Carregando{
  display: flex;
  margin-left: 50%;
}